input {
    background: none;
    border: none;
    color: aliceblue;
    caret-color: rgb(38, 163, 104, 255);
    color: rgb(255, 255, 255);
    /* fallback color */
    outline: none;
    width: 100%;
}

input:hover {
    background: none;
    border: solid 0px;
}
.inline-label {
    display: inline-block;
    width: 208px; /* Adjust as needed */
    text-align: right;
  }
  
  .inline-input {
    display: inline-block;
    width: calc(100% - 208px); /* Adjust as needed */
    margin-left: 0px; /* Adjust as needed */
  }

  .green{
    color: rgb(38, 163, 104, 255);
  }
  a{
    text-decoration: none;
  }